---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)),
                    url("/synapse-and-syntax/assets/img/A-Sunday-Afternoon-on-the-Island-of-La-Grande-Jatte_Georges-Seurat.jpg");

  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

// .page-content {
//   /* This makes the main content area see-through */
//   background-color: rgba(255, 255, 255, 0.75);
// }