---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  <h3 class="post-list-heading">{{ page.title | default: "Announcements" }}</h3>

  <div style="
    padding-left: 20px; /* Adjust this value for more/less indent */
    border-left: 3px solid #66b3ff; /* A subtle blue line on the left */
    margin-bottom: 20px; /* Space below the box */
  ">
    <p>
      <i class="fa-solid fa-bullhorn" style="margin-right: 8px; color: #2196f3;"></i>
      I'm currently setting up the comment section for this site. Until it's live, please don't hesitate to send me an email if you'd like to connect!
    </p>
  </div>
  
  <hr class="section-separator">
  <h3 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h3>
  <ul class="post-list">
    
  <p> Explore my latest articles and thoughts below. For more about this blog, the navigation bar has you covered. </p>

  {%- assign tags = site.tags | sort -%}
  {% if tags.size > 0 %}
    <div class="tag-cloud">
      Filter by tags:
      {% for tag in tags %}
        {%- assign tag_slug = tag[0] | slugify -%}
    <a class="tag-link" href="{{ '/tag/' | append: tag_slug | append: '/' | relative_url }}"><i class="fa-solid fa-hashtag fa-sm"></i> {{ tag[0] }}</a>
      {% endfor %}
    </div>
    <hr class="post-divider">
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.minima.show_excerpts -%}

          {%- comment -%} --- 1. PREPARE VARIABLES --- {%- endcomment -%}
          {%- assign excerpt_plain = post.excerpt | strip_html -%}
          {%- assign content_plain = post.content | strip_html -%}
          {%- assign excerpt_word_count = excerpt_plain | number_of_words -%}
          {%- assign content_word_count = content_plain | number_of_words -%}

          {%- assign text_to_display = "" -%}
          {%- assign words_shown = 0 -%}

          {%- if excerpt_word_count <= 50 -%}
            {%- assign text_to_display = excerpt_plain -%}
            {%- assign words_shown = excerpt_word_count -%}
            {%- assign cleaned_text = text_to_display | rstrip -%}
            {%- if cleaned_text | slice: -1 == '.' -%}
              {%- assign text_size = cleaned_text | size -%}
              {%- assign new_size = text_size | minus: 1 -%}
              {%- assign text_to_display = cleaned_text | slice: 0, new_size -%}
            {%- endif -%}
          {%- else -%}
            {%- assign text_to_display = excerpt_plain | truncatewords: 50, "" -%}
            {%- assign words_shown = 50 -%}
          {%- endif -%}

          {%- assign show_read_more = false -%}
          {%- if content_word_count > words_shown -%}
            {%- assign show_read_more = true -%}
          {%- endif -%}
          
          {%- comment -%} --- 3. RENDER THE HTML --- {%- endcomment -%}
          <p class="post-excerpt">
            {{ text_to_display | escape }}
            {%- if show_read_more -%}
              &hellip; <a href="{{ post.url | relative_url }}" class="read-more">Read more</a>
            {%- endif -%}
          </p>

        {%- endif -%}
      
      <hr class="post-divider">
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" title="Go to Page {{ paginator.previous_page }}">
              {{ paginator.previous_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | relative_url }}" class="next-page" title="Go to Page {{ paginator.next_page }}">
              {{ paginator.next_page }}
            </a>
          </li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}
</div>
